<style>
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.myfooter {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #343A40;
   color: white;
   text-align: center;
   margin-top: 1vh;
   margin-bottom: 0vh;
   padding-top: .5vh;
   padding-bottom: .5vh;
}

body {
   min-height: 400px;
   margin-bottom: 10vh;
   clear: both;
}
</style>



<!-- Footer -->
<footer class="footer-dark myfooter">
  <div class="container-fluid text-secondary">
    <!-- <div class="row"> -->
      <center>
        <a href="https://joaoluiscosta5.wixsite.com/profile" target="_blank"> <i class="fa fa-user fa-lg white-text mr-md-2 fa-1x zoom text-secondary"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100000200348805" target="_blank"> <i class="fab fa-facebook-f fa-lg white-text mr-md-2 fa-1x zoom text-secondary"></i> </a>
        <a href="https://www.instagram.com/jeancosta5/" target="_blank"> <i class="fab fa-instagram fa-lg white-text mr-md-2 fa-1x zoom text-secondary"></i> </a>
        <a href="https://www.linkedin.com/in/joaocostaeng1995/" target="_blank"> <i class="fab fa-linkedin-in fa-lg white-text fa-1x zoom text-secondary"></i></a>
      <!-- <br>  <h4>    Powered by <a href="https://joaoluiscosta5.wixsite.com/profile">João Costa</a></h4> -->
      </center>
      <!-- Grid column -->
    <!-- </div> -->
    <!-- Grid row-->
  </div>
</footer>
<!-- Footer -->
